.saved-link-marker {
    font-size: .8em;
    padding: .2em;
}

.linkPending, .linkPending:active, .linkPending:visited {
    color: crimson !important;
}

.linkInProgress, .linkInProgress:active, .linkInProgress:visited {
    color: steelblue !important;
}

.linkDone, .linkDone:active, .linkDone:visited {
    color: chartreuse !important;
}
